<div class="container">
    <form name="new_cm_form">
    <div class="header-row col-3-normal">
        <span><b> شهر: </b><i>
                <select class="comp city" ng-model="city">
                    <option value="{{x.id}}" ng-repeat="x in city_select">{{x.name}}</option>
                </select>
            </i></span>
        <span><b> منطقه: </b><i>
                <select class="comp" ng-model="area">
                    <option value="all" selected="selected">همه</option>
                </select>
            </i></span>
    </div>
    <div class="header-row col-2-normal">
        <span class="span-10"><b>نام مرکز پخش: </b><i>
                <input type="text" ng-model="name" required/>
            </i></span>
    </div>
    <div class="header-row col-2-normal">
        <span><b>نام مسئول: </b><i>
                <input type="text" ng-model="a_fname" required/>
            </i></span>
        <span><b>نام خانوادگی مسئول: </b><i>
                <input type="text" ng-model="a_lname" required/>
            </i></span>
    </div>
    <div class="header-row col-2-normal">
        <span><b>تاریخ تولد مسئول : </b><i>
                <input type="text" class="center-text datepicker" ng-model="a_birthday" ng-blur="revDate()" id="bb_113" required/>
            </i></span>
        <span><b>کد ملی مسئول: </b><i>
                <input type="text" ng-model="a_code" required/>
            </i></span>
    </div>
    <div class="header-row col-2-normal">
        <span><b> تلفن ثابت:‌  </b><i>
                <input type="text" ng-model="fixed_phone" required/>
            </i></span>
        <span><b> موبایل:  </b><i>
                <input type="text" ng-model="mobile" required/>
            </i></span>
    </div>
    <div class="header-row col-2-normal">
        <span><b>شناسه ی کاربری: </b><i>
                <input type="text" ng-model="uname" required/>
            </i></span>
        <span><b>کلمه ی عبور:‌ </b><i>
                <input type="text" ng-model="password" required/>
            </i></span>
    </div>
    <h3> آدرس: </h3>
    <textarea ng-model="address" required>
    </textarea>
    <h3>توضیحات : </h3>
    <textarea ng-model="desc" required>
    </textarea>
    <div class="header-row col-2-normal">
        <span><b>تصویر کارت ملی مسئول</b><i>
            </i></span>
        <span><b>فایل : </b><i>
                <input type="file" fileread="pic1" required/>
            </i></span>
    </div>
    <div class="normal-row">
        <button class="button" ng-click="docs[docs.length] = {desc : null, file : null};">
            افزودن سند
        </button>
    </div>
    <div class="header-row col-2-normal" ng-repeat="x in docs">
        <span><b>توضیحات : </b><i>
                <input type="text" ng-model="x.desc"/>
            </i></span>
        <span><b>فایل : </b><i>
                <input type="file" fileread="x.file" required/>
            </i></span>
    </div>
    <br/>
    <hr/>
    <div class="normal-row">
        <button class="button" style="margin: 0 auto; float: none !important;" ng-click="submitThis()">
            ثبت ویزیتور
        </button>
    </div>
    <br/><br/><br/><br/><br/>
    </form>
</div>
<script>
    $(document).ready(function () {
    $("select.comp").select2({
    dir: "rtl"
    });
    $(".datepicker").persianDatepicker({format: 'YYYY/MM/DD HH:mm:ss', timePicker: {enabled: true}});
    });</script>
