<div class="container">
    <!--
    <div class="header-row col-2-normal">
        <span><b> شهر: </b><i>
                <select class="comp" multiple="multiple" ng-model="visitor">
                    <option value="all" selected="selected">همه</option>
                    <option>اصفهان</option>
                    <option>تهران</option>
                    <option>مشهد</option>
                </select>
            </i></span>
        <span><b> داروخانه یا دکتر: </b><i>
                <select class="comp" multiple="multiple" ng-model="visitor">
                    <option value="all" selected="selected">همه</option>
                    <option> داروخانه ۱</option>
                    <option> داروخانه ۲</option>
                </select>
                <select class="comp" multiple="multiple" ng-model="visitor">
                    <option value="all" selected="selected">همه</option>
                    <option> دکتر ۱</option>
                    <option> دکتر ۲</option>
                </select>
            </i></span>
    </div>
    <div class="header-row col-2-normal">
        <span><b> وضعیت: </b><i>
                <select class="comp" multiple="multiple" ng-model="status">
                    <option value="all" selected="selected">همه</option>
                    <option>در انتظار تایید</option>
                    <option>تایید شده</option>
                </select>
            </i></span>
        <span><b> اهمیت: </b><i>
                <select class="comp" multiple="multiple" ng-model="status">
                    <option value="all" selected="selected">همه</option>
                    <option>زیاد</option>
                    <option>متوسط</option>
                    <option>کم</option>
                </select>
            </i></span>
    </div>
    <div class="header-row col-2-normal">
        <span><b> از تاریخ:‌ </b><i>
                <input type="text" class="datepicker input-center"/>
            </i></span>
        <span><b> تا تاریخ:‌ </b><i>
                <input type="text" class="datepicker input-center"/>
            </i></span>
    </div>
    -->
    <br/>
    <div class="panel" ng-repeat="x in orders">
        <div class="panel-head">
            سفارش {{x.order.id}}
            <span class="date">{{unixToString(x.order.createdAt)}}</span>
        </div>
        <div class="panel-body">
            <div class="header-row col-2">
                <span><b>داروخانه: </b><i>{{x.ds.name}}</i></span>
                <span ng-if="!x.order.submited && !x.order.viewedAt"><b>وضعیت: </b><i>تایید نشده</i></span>
                <span ng-if="x.order.viewedAt && !x.order.submited"><b>وضعیت: </b><i>مشاهده شده</i></span>
                <span ng-if="x.order.submited"><b>وضعیت: </b><i>تمام شده</i></span>
            </div>
            <h4>توضیحات : </h4>
            <div class="area area-90">
                {{x.order.desc}}
            </div>
            <h4>محتوا : </h4>
            <div class="area area-90">
                {{x.order.content}}
            </div>
            <div class="header-row col-2-normal" ng-repeat="d in x.order_drugs">
                <span class="span-5"><b>دارو : </b><i>
                        {{d.drugName}}
                    </i></span>
                <span class="span-5"><b>تعداد : </b><i>
                        {{d.count}}
                    </i></span>
            </div>
        </div>
        <br/>
    </div>
    <br/><br/><br/><br/><br/><br/>
</div>
<script>
    $(document).ready(function () {
        $('.tooltip').tooltipster({
            theme: 'tooltipster-borderless'
        });
        $("select.comp").select2({
            dir: "rtl"
        });
        $(".datepicker").persianDatepicker({format: 'YYYY/MM/DD HH:mm:ss', timePicker: {enabled: true}});
    });
</script>