<div class="container">
    <div class="header-row col-2-normal">
        <span><b> مرکز پخش: </b><i>
                <select class="comp" multiple="multiple" ng-model="cm">
                    <option ng-repeat="x in cm_list" value="{{x.id}}">{{x.name}}</option>
                </select>
            </i></span>
    </div>
    <div class="header-row col-2-normal">
        <span><b> ویزیتور: </b><i>
                <select class="comp" multiple="multiple" ng-model="visitor">
                    <option ng-repeat="x in visitor_list" value="{{x.id}}">{{x.fname}} {{x.lname}}</option>
                </select>
            </i></span>
        <span><b> وضعیت: </b><i>
                <select class="comp" multiple="multiple" ng-model="status">
                    <option value="all" selected="selected">همه</option>
                    <!-- NO IDEA ABOUT STATUS -->
                    <!--option>در انتظار تایید مرکز پخش</option>
                    <option>انتقال یافته به ویزیتور دیگر</option>
                    <option>تایید شده توسط مرکز پخش</option-->
                </select>
            </i></span>
    </div>
    <div class="header-row col-2-normal">
        <span><b> از تاریخ:‌ </b><i>
                <input type="text" class="datepicker input-center" id="from-date"/>
            </i></span>
        <span><b> تا تاریخ:‌ </b><i>
                <input type="text" class="datepicker input-center" id="to-date"/>
            </i></span>
    </div>
    <div class="normal-row">
        <button class="button" ng-click="submitChange()">
            اعمال تغییرات
        </button>
    </div>
    <div class="panel" ng-repeat="x in visits">
        <div class="panel-head" ng-click="showCurr($event, x)">
            ویزیت شماره ی  {{x.order.id}}
            <span class="date">{{unixToString(x.order.createdAt)}}</span>
        </div>
        <div class="panel-body">
            <div class="header-row col-2" ng-if="x.order.forwardToVid == null && x.order.nextSession == null">
                <span ng-if="x.ds != null"><b>نام داروخانه: </b><i>{{x.ds.name}}</i></span>
                <span ng-if="x.dr != null"><b>نام دکتر: </b><i>{{x.dr.name}}</i></span>
                <span><b>وضعیت: </b>
                    <i ng-if="x.order.submited == 1">تمام شده</i>
                    <i ng-if="x.order.submited != 1 && x.order.viewedAt == null">انتظار</i>
                    <i ng-if="x.order.submited != 1 && x.order.viewedAt != null">بررسی شده</i></span>
            </div>

            <div class="header-row col-3" ng-if="x.order.forwardToVid == null && x.order.nextSession != null">
                <span ng-if="x.ds != null"><b>نام داروخانه: </b><i>{{x.ds.name}}</i></span>
                <span ng-if="x.dr != null"><b>نام دکتر: </b><i>{{x.dr.name}}</i></span>
                <span><b>وضعیت: </b>
                    <i ng-if="x.order.submited == 1">تمام شده</i>
                    <i ng-if="x.order.submited == 0 && x.order.viewedAt == null">انتظار</i>
                    <i ng-if="x.order.submited != 1 && x.order.viewedAt != null">بررسی شده</i>
                </span>
                <span class="tooltip" title="{{unixToString(x.order.nextSession)}}"><b>ویزیت بعدی: </b><i>{{unixToString(x.order.nextSession)}}</i></span>

            </div>


            <div class="header-row col-3" ng-if="x.order.forwardToVid != null && x.order.nextSession == null">
                <span ng-if="x.ds != null"><b>نام داروخانه: </b><i>{{x.ds.name}}</i></span>
                <span ng-if="x.dr != null"><b>نام دکتر: </b><i>{{x.dr.name}}</i></span>
                <span><b>وضعیت: </b>
                    <i ng-if="x.order.submited == 1">تمام شده</i>
                    <i ng-if="x.order.submited == 0 && x.order.viewedAt == null">انتظار</i>
                    <i ng-if="x.order.submited != 1 && x.order.viewedAt != null">بررسی شده</i>
                </span>
                <span class="tooltip" title="1396/04/17"><b>منتقل شده به: </b><i><a href="#!user/{{x.visitor.id}}" class="classic">{{x.visitor.fname}} {{x.visitor.lname}}</a></i></span>
            </div>


            <h4>توضیحات : </h4>
            <div class="area area-90">
                {{x.order.desc}}
            </div>
        </div>
        <br/>
        <span class="help" ng-click="showCurr($event, x)">مشاهده ی بیشتر</span>
    </div>    
    <br/><br/><br/><br/><br/><br/>
</div>
<script>
            $(document).ready(function () {
                $('.tooltip').tooltipster({
                    theme: 'tooltipster-borderless'
                });
                $("select.comp").select2({
                    dir: "rtl"
                });
                $("#from-date").persianDatepicker({
                    format: 'YYYY/MM/DD HH:mm:ss',
                    timePicker: {enabled: true},
                    onSelect: function (unix) {
                        window.__from_date = unix;
                    }
                });
                $("#to-date").persianDatepicker({
                    format: 'YYYY/MM/DD HH:mm:ss',
                    timePicker: {enabled: true},
                    onSelect: function (unix) {
                        window.__to_date = unix;
                    }
                });
            });
</script>