<div class="container">
    <br/>
    <div class="panel">
        <div class="panel-head">
            درخواست تایید داروخانه
            <span class="date">1396/04/02</span>
        </div>
        <div class="panel-body">
            <div class="header-row col-3">
                <span><b>نام داروخانه: </b><i>سینا</i></span>
                <span><b>شماره تلفن: </b><i>0913123456</i></span>
                <span><b>شناسه کاربری: </b><i>sina123</i></span>
            </div>
            <h4>توضیحات : </h4>
            <div class="area area-90">
                توضیحات وارد شده توسط داروخانه
            </div>
        </div>
        <br/>
        <div class="normal-row">
            <button class="button">تایید داروخانه</button>
        </div>
        <br/>
    </div>
    <br/>
    <div class="panel">
        <div class="panel-head">
            درخواست تایید دکتر
            <span class="date">1396/04/02</span>
        </div>
        <div class="panel-body">
            <div class="header-row col-3">
                <span><b>نام دکتر: </b><i>محمد</i></span>
                <span><b>شماره تلفن: </b><i>0913123456</i></span>
                <span><b>شناسه کاربری: </b><i>m444</i></span>
            </div>
            <h4>توضیحات : </h4>
            <div class="area area-90">
                توضیحات وارد شده توسط دکتر
            </div>
        </div>
        <div class="normal-row">
            <button class="button">تایید دکتر</button>
        </div>
        <br/>
    </div>
    <br/><br/><br/><br/><br/><br/>
</div>
<script>
    $(document).ready(function () {
        $('.tooltip').tooltipster({
            theme: 'tooltipster-borderless'
        });
    });
</script>