<div class="container">
    <form name="new_visit_form">
    <div class="header-row col-2-normal">
        <span><b>داروخانه یا دکتر : </b><i>
                <select class="comp" ng-model="drugstore" ng-disabled="doctor != 'none'">
                    <option value="none" selected="selected">انتخاب داروخانه</option>
                    <option value="make_new">افزودن داروخانه</option>
                    <option value="{{x.id}}" ng-repeat="x in ds_list">{{x.name}}</option>
                </select>
                <select class="comp" ng-model="doctor" ng-disabled="drugstore != 'none'">
                    <option value="none" selected="selected">انتخاب دکتر</option>
                    <option value="make_new">افزودن دکتر</option>
                    <option value="{{x.id}}" ng-repeat="x in dr_list">{{x.name}}</option>
                </select>
            </i></span>
        <span><b>تاریخ ویزیت بعدی :‌ </b><i>
                <input id="next-visit-input" ng-model="next_session_date" type="text" class="datepicker-do input-center" style="width:100px !important;"/>
                <select class="comp">
                    <option value="none" selected="selected">-</option>
                    <option value="1d">یک روز</option>
                    <option value="1w">یک هفته</option>
                    <option value="2w">دو هفته</option>
                    <option value="3w">سه هفته</option>
                    <option value="1m">یک ماه</option>
                </select>
            </i></span>
    </div>
    <div class="header-row col-2-normal">
        <span><b>نوبت ویزیت: </b><i>
                <select class="comp" ng-model="visit_time">
                    <option value="am" selected="selected">صبح</option>
                    <option value="pm">عصر</option>
                </select>
            </i></span>
        <span><b>تاریخ ویزیت:‌ </b><i>
                <input id="visit-time-input" type="text" class="datepicker input-center" ng-blur="revDate()" ng-model="visit_date" required/>
            </i></span>
    </div>
    <div class="header-row col-2-normal">
        <span><b>اهمیت: </b><i>
                <select class="comp" ng-model="urgency">
                    <option value="1" selected="selected">زیاد</option>
                    <option value="2">متوسط</option>
                    <option value="3">کم</option>
                </select>
            </i></span>
    </div>
    <div ng-include src="'new_visit_ds.html'"></div>
    <div ng-include src="'new_visit_doctor.html'"></div>
    <div ng-include src="'new_visit_doctor_section.html'"></div>
    <div ng-include src="'new_visit_ds_section.html'"></div>
    <div class="header-row col-2-normal">
        <span><b>مرکز پخش :‌  </b><i>
                <select class="comp" ng-model="cm">
                    <option value="{{x.id}}" ng-repeat="x in cm_list">{{x.name}}</option>
                </select>
            </i></span>
        <span><b>انتقال به ویزیتور:  </b><i>
                <select ng-model="visitor" value="none" class="comp">
                    <option value="none" selected="selected">-</option>
                    <option value="{{x.id}}" ng-repeat="x in visitor_list">{{x.fname}} {{x.lname}}</option>
                </select>
            </i></span>
    </div>
    <h3>توضیحات : </h3>
    <textarea ng-model="desc" required>
    </textarea>
    <h3>محتوا : </h3>
    <textarea ng-model="content" required>
    </textarea>
    <div class="normal-row">
        <button class="button" ng-click="content_drugs[content_drugs.length] = {drug: null, num: null, visit: null}; reInit();">
            افزودن دارو
        </button>
    </div>
    <div class="header-row col-2-normal" ng-repeat="x in content_drugs">
        <span class="span-3"><b>دارو : </b><i>
                <select ng-model="x.drug">
                    <option value="{{x.id}}" ng-repeat="x in _drugs_list">{{x.name}}</option>
                </select>
            </i></span>
        <span class="span-2"><b>تعداد : </b><i>
                <input type="number" ng-model="x.num" required/>
            </i></span>
        <span class="span-5"><b>گزارش ویزیت : </b><i>
                <input type="text" ng-model="x.visit" required/>
            </i></span>
    </div>
    <h3>اقلام تحویلی:</h3>
    <div class="header-row col-2-normal">
        <span class="span-10">
            <b>
                اقلام تحویلی:
            </b>
            <i>
                <select multiple="multiple" class="comp span-5" ng-model="given">
                    <option value="1">کاتالوگ محصولات</option>
                    <option value="2">جدول دارویی</option>
                    <option value="3">بروشور</option>
                    <option value="4">پوستر</option>
                </select>
            </i>
        </span>
    </div>
    <textarea placeholder="مقالات علمی / دارو" ng-model="given_etc" required></textarea>
    <h3>موارد درخواستی:</h3>
    <textarea ng-model="needed" required></textarea>
    <h3 ng-show="visitor == 'none'">نتیجه : </h3>
    <textarea ng-show="visitor == 'none'" ng-model="result" required></textarea>
    <div class="normal-row" ng-show="visitor == 'none'">
        <button class="button" ng-click="result_drugs[result_drugs.length] = {drug: null, num: null, visit: null}; reInit();">
            افزودن دارو
        </button>
    </div>
    <div class="header-row col-2-normal" ng-repeat="x in result_drugs">
        <span class="span-3"><b>دارو : </b><i>
                <select ng-model="x.drug">
                    <option value="{{x.id}}" ng-repeat="x in _drugs_list">{{x.name}}</option>
                </select>
            </i></span>
        <span class="span-2"><b>تعداد : </b><i>
                <input type="number" ng-model="x.num" required/>
            </i></span>
        <span class="span-5"><b>گزارش ویزیت : </b><i>
                <input type="text" ng-model="x.visit" required/>
            </i></span>
    </div>
    <div class="normal-row">
        <button class="button" ng-click="docs[docs.length] = {desc: null, file: null};">
            افزودن سند
        </button>
    </div>
    <div class="header-row col-2-normal" ng-repeat="x in docs">
        <span><b>توضیحات : </b><i>
                <input type="text" ng-model="x.desc" required/>
            </i></span>
        <span><b>فایل : </b><i>
                <input type="file" ng-model="x.file" required/>
            </i></span>
    </div>
    <br/>
    <hr/>
    <div class="normal-row">
        <button class="button" style="margin: 0 auto; float: none !important;" ng-click="submitThis()">
            ثبت ویزیت
        </button>
    </div>
    <br/><br/><br/><br/><br/>
    </form>
</div>
<script>
            $(document).ready(function () {
                $("select.comp").select2({
                    dir: "rtl"
                });
                $("#visit-time-input").persianDatepicker({
                    format: 'YYYY/MM/DD HH:mm:ss',
                    timePicker: {enabled: true},
                    onSelect : function(unix){
                        window.__next_visit = unix;
                    }
                });
                $("#next-visit-input").persianDatepicker({
                    format: 'YYYY/MM/DD',
                    timePicker: {enabled: false},
                    onSelect : function(unix){
                        window.__visit_time = unix;
                    }
                });
            });
</script>
